.fishes-wrapper {
    background-image: url(../../assets/fishes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
}

.create-fish {
    width: 150px;
    height: 39px;
    border: none;
    border-radius: 15px;
    background-color: rgb(157, 176, 226);
    font-size: 19px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.search {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(227, 230, 240);
    border: none;
    width: 300px;
}

.fishes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}